/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.container {
  width: 1980px;
  padding: 0 51px 0 51px;
  margin-left: auto;
  margin-right: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--list-color);
  font-family: Roboto, sans-serif;
  max-height: 100vh;
  overflow: auto;
}

header {
  width: 1920px;
  height: 165px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  padding-left: 0;
  list-style: none;
  color: var(--peculiarity-color, #212121);
}

h3 {
  margin-top: 0;
}

:root {
  --text-color: #1e2e36;
  --logo-color: #44c697;
  --list-color: #ffffff;
  --accent-color: #ff1b1b;
  --peculiarity-color: ;
  --user-color: ;
  --animation: 250ms ease-in;
  --time-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ececec;
}

.header-left {
  display: inline-flex;
  vertical-align: baseline;
  margin-right: 700px;
  width: 546px;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-title {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  color: var --text-color;
  margin-right: 5px;
}

.header-social {
  display: inline-flex;
  margin-top: 10px 5px 0 0;
}

.header-social__item {
  width: 40px;
  height: 40px;
}

.header-phone {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
  color: var --text-color;
  margin-top: 18px;
}

.header-menu__item-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--logo-color);
  border-radius: 2px;
}

.header-menu {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
  color: var(--text-color);
}

.header-menu__item {
  margin-right: 15px;
}

.header-filter {
  display: inline-flex;
  margin-right: 115px;
  text-transform: uppercase;
}

.header-button {
  flex-direction: row;
  align-items: center;
  padding: 14px 46px;
  text-transform: uppercase;
  background: var(--logo-color);
  border-radius: 3px;
}

.header-logo {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
  margin: 0;
}

.header-logo::first-letter {
  color: var(--logo-color);
}

.header-bottom {
  display: inline-flex;
}

.header-bottom__left {
  margin-top: 41px;
}

.header-bottom__center {
  margin: 15px 319px 0 0;
}

.header-bottom__right {
  display: inline-flex;
}

.header-cart {
  margin-right: 30px;
  margin-bottom: 0;
}

.footer {
  position: relative;
  height: 520px;
  margin-bottom: 15px;
  background-color: var(--text-color);
}

.footer-img {
  width: 1089px;
  float: right;
}

.footer-text {
  position: absolute;
  z-index: 5;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
  color: var(--list-color);
}

.footer-text__item {
  color: var(--list-color);
}

.footer-social__svg {
  fill: aliceblue;
}

.hero {
  position: relative;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background: var(--title-color, #2f303a);
  padding: 0px 0;
  text-align: center;
  max-width: 1920px;
  height: 785px;
  background-image: url(/images/Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  background-color: var(--list-color);
  width: 462px;
  height: 670px;
  margin-left: 51px;
}

.hero-line {
  position: absolute;
  width: 15px;
  height: 670px;
  left: 37px;
  top: 1px;
  background: var(--logo-color);
}

.hero-new {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  color: #1e2e36;
}

.hero-text {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
  color: #1e2e36;
}

.hero-info {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
  color: #1e2e36;
}

.hero-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 46px;
  position: absolute;
  width: 209px;
  height: 51px;
  left: 178px;
  background: #44c697;
  border-radius: 3px;
}

.hero-date {
  position: static;
  width: 81px;
  height: 45px;
  left: calc(50% - 81px / 2);
  top: calc(50% - 45px / 2 - 17.5px);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5px 0px;
}

.advantage-title {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  margin-bottom: 50px;
}

.advantage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(586px, 1fr));
  grid-gap: 40px 40px;
  max-width: calc(100%-100px);
}

.categories-section {
  margin-bottom: 100px;
}

.categories-title {
  margin-bottom: 50px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1px 199px;
  max-width: calc(100%-100px);
  margin-bottom: 84px;
}

.categories-item {
  margin-left: auto;
  margin-right: auto;
}

.categories-item__svg {
  fill: var(--text-color);
}

.categories-item__svg:hover,
.categories-item__svg:focus {
  fill: var(--logo-color);
}

.categories-text {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.categories-item__bed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(586px, 1fr));
  grid-gap: 1px 19px;
  max-width: calc(100%-100px);
}

.categories-button {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 51px;
  background: var(--logo-color);
  border-radius: 3px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
  color: var(--list-color);
}

.about-us {
  margin-bottom: 100px;
  margin-top: 100px;
  height: 785px;
}

.about-us__text {
  position: absolute;
  z-index: 2;
  clear: both;
  width: 791px;
  background-color: var(--list-color);
  padding: 50px 30px 50px 51px;
  top: 3260px;
}

.about-us__img {
  position: relative;
  width: 1407px;
  float: right;
}

.first-word {
  display: inline;
  color: var(--logo-color);
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
}

.about-us__info {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
}

.line {
  position: absolute;
  z-index: 3;
  width: 15px;
  height: 465px;
  left: 906px;
  top: 3260px;
  background: #44c697;
  border-radius: 0px 3px 3px 0px;
}

.questions-img {
  position: relative;
  width: 1561px;
  float: left;
  margin-bottom: 109px;
}

.question {
  height: 785px;
  margin-bottom: 100px;
}

.question-form {
  position: absolute;
  z-index: 4;
  width: 528px;
  height: 457px;
  left: 1392px;
  top: 4185px;
  background-color: var(--list-color);
}

.line-form {
  position: absolute;
  width: 15px;
  height: 457px;
  left: 1377px;
  top: 4186px;
  background: #44c697;
  border-radius: 3px 0px 0px 3px;
}

.question-title {
  margin: 50px 99px 30px 30px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
}

.question-input {
  width: 432px;
  height: 51px;
  margin: 0 51px 15px 30px;
  padding: 14px 15px;
  background: var(--list-color);
  border: 1px solid #1e2e36;
  box-sizing: border-box;
  border-radius: 3px;
}

.question-input__label {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  color: #1e2e36;
  opacity: 0.6;
}

.question-button {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
  color: #ffffff;
  width: 432px;
  height: 51px;
  margin-left: 30px;
  background: #44c697;
  border-radius: 3px;
}

.question-text {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  align-items: center;
  color: var(--text-color);
  width: 395px;
  height: 69px;
  margin-left: 30px;
  margin-right: 88px;
  margin-bottom: 50px;
}
/*# sourceMappingURL=main.css.map */