.footer {
  position: relative;
  height: 520px;
  //width: 1920px;
  //margin: auto;
  //margin-bottom: 15px;

  background-color: var(--text-color);
}

//logo footer
.footer-top {
  //margin: 0 50px 0 0;
  //width: 360px;
}
.footer-logo {
  float: left;
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;

  margin: 0;
  padding-top: 31.06px;
  padding-bottom: 40px;
}
.footer-logo__text {
  //display: inline;
  //margin: 15px 0 15px 0;
  padding-bottom: 15px;
  color: var(--list-color);
}
.footer-logo__letter {
  color: var(--logo-color);
}
.footer-logo__svg {
  float: left;
  //padding-top: 15px;
}

.footer-img {
  position: absolute;
  right: 0px;
  width: 1089px;
  height: 520px;
  float: right;
}
//menu
.menu {
  display: flex;
  flex-direction: column;
  margin-left: 51px;
  width: 831px;
}
.footer-menu {
  display: flex;
  //flex-basis: calc((50% - 45px) / 2);
  //padding-top: 75px;
}
.footer-menu__left {
  flex-basis: calc((25%) / 2);
  padding-bottom: 100px;
  margin-right: 55px;
}
.footer-menu__center {
  flex-basis: calc((55%) / 2);
  margin-right: 89px;
}
.footer-menu__right {
  flex-basis: calc((60% - 45px) / 2);
}
.footer-text-left {
  margin: 0;
}
.footer-text__item {
  //position: absolute;
  //z-index: 5;
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-transform: uppercase;
  color: var(--list-color);

  //background-color: bisque;
}
.footer-text__item:hover {
  color: var(--logo-color);
}

.footer-points:not(:last-child) {
  margin-bottom: 15px;
}
.footer-text-right {
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-transform: uppercase;

  color: #44c697;
  //background-color: chocolate;
}

.footer-text__item {
  color: var(--list-color);
}

.footer-social__svg {
  //fill: aliceblue;
  margin-right: 5px;
  margin-bottom: 15px;
}
.footer-svg {
  fill: #ffffff;
  stroke: #ffffff;
}
.footer-svg:hover {
  fill: var(--logo-color);
  stroke: var(--logo-color);
}
.footer-social__text {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;

  align-items: center;

  color: #ffffff;

  mix-blend-mode: normal;
}
.footer-social__text:hover {
  color: var(--logo-color);
  fill: #44c697;
}
.dash {
  color: var(--logo-color);
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;
  padding-right: 5px;
}
.footer-bottom {
  display: inline-flex;
  margin-left: 51px;
  //width: 200px;
}
.footer-copyright {
  display: inline-block;
  width: 255px;
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;

  color: var(--list-color);

  margin-right: 55px;
}
.footer-author {
  //width: 238px;
  margin: 0;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;

  color: var(--list-color);
}
.footer-author__text {
  display: inline-block;
  vertical-align: super;
}
.left {
  margin: 0;
}
.right {
  color: var(--list-color);
}
