.footer {
  position: relative;
  height: 520px;
  margin-bottom: 15px;

  background-color: var(--text-color);
}

//logo footer
.footer-bottom__center {
  margin: 0 319px 0 0;
}
.footer-logo {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;

  margin: 0;
}
.footer-logo__text {
  //display: inline;
  //margin: 15px 0 15px 0;
  padding-bottom: 15px;
  color: var(--list-color);
}
.footer-logo__letter {
  color: var(--logo-color);
}
.footer-logo__svg {
  padding-top: 15px;
}

.footer-img {
  width: 1089px;
  float: right;
}
//menu
.menu {
  display: flex;
  justify-content: baseline;
}

.footer-text-left {
  position: absolute;
  z-index: 5;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-transform: uppercase;
  color: var(--list-color);

  background-color: bisque;
}
.footer-text-right {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-transform: uppercase;

  color: #44c697;
  background-color: chocolate;
}

.footer-text__item {
  color: var(--list-color);
}

.footer-social__svg {
  fill: aliceblue;
}
.footer-menu {
  display: inline;
}
