.about-us {
  //padding-bottom: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
  height: 785px;
}

.about-us__text {
  //padding-bottom: 100px;
  clear: both;
}

.about-us__img {
  width: 1407px;
  float: right;
}
