.advantage-title {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 125%;

  text-align: center;
  margin-bottom: 50px;
}
.advantage {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(586px, 1fr));
  grid-gap: 40px 40px;
  max-width: calc(100%-100px);
}
.advantage-item {
}
