.categories-section {
  margin-bottom: 100px;
}
.categories-line {
  position: absolute;
  z-index: -1;
  width: 20px;
  height: 50px;
  left: 801px;
  top: 1588px;
  background: var(--logo-color);
}
.categories-title {
  margin-bottom: 50px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 125%;

  text-align: center;
}
.categories {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1px 199px;
  max-width: calc(100%-100px);

  //margin-left: 200px;
  margin-bottom: 84px;
}
.categories-item {
  margin-left: auto;
  margin-right: auto;
}
.categories-item__svg {
  fill: var(--text-color);
}
.categories-item__svg:hover,
.categories-item__svg:focus {
  fill: var(--logo-color);
}
.categories-text {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.categories-item__bed {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(586px, 1fr));
  grid-gap: 1px 19px;
  max-width: calc(100%-100px);
}

.categories-button {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 51px;
  //left: 865px;
  //top: 2769px;

  background: var(--logo-color);
  border-radius: 3px;
  border-color: var(--logo-color);

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-transform: uppercase;

  color: var(--list-color);
}
