.categories-section {
  margin-bottom: 100px;
}
.categories-line {
  position: absolute;
  z-index: -1;
  width: 20px;
  height: 50px;
  left: 806px;
  top: 1620px;
  background: var(--logo-color);
}
.categories-title {
  margin-bottom: 50px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 125%;

  text-align: center;
}
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1px 180px;
  max-width: calc(100%-100px);
  margin-bottom: 84px;
  margin-left: 158px;
  margin-right: 160px;
}
.categories-item_info {
  display: inline-flex;
}
.categories-bed-name {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;

  text-align: center;
  text-transform: uppercase;

  color: #1e2e36;

  margin-right: 166px;
}
.categories-price {
  justify-content: flex-end;
  margin-top: 0;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;

  text-align: center;
  text-transform: uppercase;

  color: #1e2e36;
}
.categories-price__red {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 125%;

  text-align: center;
  text-transform: uppercase;

  color: #ff1b1b;
  margin-top: 0;
  margin-right: 10px;
}
.categories-price__sale {
  margin-top: 0;
  padding-top: 6px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;

  color: #bcbdbb;
}
.categories-new {
  position: absolute;
  width: 119px;
  height: 33px;
  left: 56px;
  top: 1956px;

  background: #1e2e36;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.categories-new__imperia {
  position: absolute;
  width: 119px;
  height: 33px;
  left: 56px;
  top: 2316px;

  background: #1e2e36;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.categories-new__text {
  margin: 0;
  padding: 5px 15px;
}
.categories-hit {
  position: absolute;
  width: 143px;
  height: 33px;
  left: 689px;
  top: 1955px;

  background: #1e2e36;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.categories-hit__text {
  margin: 0;
  padding: 5px 5px;
}

.categories-sale {
  position: absolute;
  width: 84px;
  height: 33px;
  left: 689px;
  top: 1993px;

  background: #ff1b1b;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.categories-sale__text {
  margin: 0;
  padding: 5px 15px;
}
.categories-hit__atlant {
  position: absolute;
  width: 143px;
  height: 33px;
  left: 1322px;
  top: 2316px;

  background: #1e2e36;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.categories-sale__atlant {
  position: absolute;
  width: 84px;
  height: 33px;
  left: 1322px;
  top: 2355px;

  background: #ff1b1b;

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.categories-item {
  margin-left: auto;
  margin-right: auto;
}

.categories-link__svg:hover .categories-item__svg {
  fill: var(--logo-color);
}
.categories-text {
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

.categories-item__bed {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(586px, 1fr));
  grid-gap: 1px 19px;
  max-width: calc(100%-100px);

  margin-bottom: 50px;
}

.categories-button {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 51px;
  //left: 865px;
  //top: 2769px;

  background: var(--logo-color);
  border-radius: 3px;
  border-color: var(--logo-color);

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-transform: uppercase;

  color: var(--list-color);
}
