.hero {
  position: relative;
  //margin-top: 15px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background: var(--title-color, #2f303a);
  padding: 0px 0;
  text-align: center;
  max-width: 1920px;
  height: 785px;
  background-image: url(/images/Hero.jpg);

  //transform: matrix(-1, 0, 0, 1, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .container {
  //position: relative;
}
.hero-title {
  background-color: var(--list-color);
  width: 462px;
  height: 670px;
  margin-left: 51px;
}
.hero-line {
  position: absolute;

  width: 15px;
  height: 670px;
  left: 37px;
  top: 1px;

  background: var(--logo-color);
}
.hero-new {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;

  color: #1e2e36;

  margin-top: 0;
  padding-top: 99px;
}
.hero-text {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;

  color: #1e2e36;
}
.hero-info {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 125%;

  text-align: center;

  color: #1e2e36;
}
.hero-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 46px;

  position: absolute;
  width: 209px;
  height: 51px;
  left: 178px;
  //top: 553px;

  background: #44c697;
  border-radius: 3px;
  border-color: var(--list-color);

  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-transform: uppercase;

  color: var(--list-color);
}
.hero-date {
  position: static;
  width: 81px;
  height: 45px;
  left: calc(50% - 81px / 2);
  top: calc(50% - 45px / 2 - 17.5px);

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5px 0px;
}

.hero-count {
  margin-top: 160px;
}
