.hero {
  position: relative;

  margin: 0 auto 100px auto;
  background: var(--title-color, #2f303a);
  padding: 0px 0;
  text-align: center;
  max-width: 1920px;
  height: 785px;

  background-image: url(/images/Hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  background-color: var(--list-color);
  width: 462px;
  height: 670px;
  margin-left: 51px;
}
.hero-line {
  position: absolute;
  width: 15px;
  height: 670px;
  left: 37px;
  top: 1px;

  background: var(--logo-color);
}
.hero-new {
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;

  color: var(--text-color);

  margin: 0 0 50px 0;
  padding-top: 99px;
}
.hero-text {
  margin: 0 0 10px 0;
  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;

  color: var(--text-color);
}

.hero-info {
  margin: 0 0 30px 0;
  font-family: "Proxima Nova";
  font-weight: normal;
  font-size: 36px;
  line-height: 125%;
  text-align: center;

  color: var(--text-color);
}
.hero-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 46px;

  position: absolute;
  width: 209px;
  height: 51px;
  left: 178px;
  //top: 553px;

  background: var(--logo-color);
  border-radius: 3px;
  border-color: var(--list-color);

  font-family: "Proxima Nova";
  font-weight: bold;
  font-size: 18px;
  line-height: 125%;

  text-transform: uppercase;

  color: var(--list-color);

  cursor: pointer;
  border: 2px solid #bfe2ff;
  outline: 1px solid;
  outline-color: var(--logo-color);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.hero-button:hover,
.hero-button:focus {
  box-shadow: inset 0 0 20px #bfe2ff;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  color: var(--list-color);
}

.btn {
  border-color: var(--logo-color);
  color: var(--list-color);
  box-shadow: 0 0 40px 40px var(--logo-color) inset, 0 0 0 0 var(--logo-color);
  transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.btn:hover,
.btn:focus {
  box-shadow: 0 0 10px 0 (--logo-color) inset, 0 0 10px 4px (--logo-color);
}
.hero-date {
  position: static;
  width: 81px;
  height: 45px;
  left: calc(50% - 81px / 2);
  top: calc(50% - 45px / 2 - 17.5px);

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5px 0px;
}

.hero-count {
  margin-top: 120px;
}
